{% extends "base.html" %}

{% block content %}

<div id="background">
    <div id="top">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
        <span></span>
        </label>
        <ul class="menu__box">
            <li><a class="menu__item" href="{% url 'index' %}">Accueil</a></li>
            <li><a class="menu__item" href="{% url 'offerList' %}">Annonces</a></li>
            <li><a class="menu__item" href="{% url 'offerAdd' %}">Ajouter une annonce</a></li>
            <li><a class="menu__item" href="{% url 'plantList' %}">Plantes</a></li>
            <li><a class="menu__item" href="{% url 'userDetail' 1 %}">Mon profil</a></li>
            <li><a class="menu__item" href="{% url 'login' %}">Se déconnecter</a></li>
        </ul>
    </div>
</div>

<header class="region">
    <div class="wrapper" data-size="narrow">
        <h1>A'RO<b style="color:#B5E245">SA-JE</b></h1>
    </div>
</header>

<div class="wrapper" data-size="narrow">
    <h1>Annonces</h1>
    <ul class="border">
        <li>
            <div>
                <a href="#">Annonce 1<br>
                <img src="https://bergamotte.imgix.net/d4jcklq9l7b2nthf026antzn92ea?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=528%3A660" class="img-li-offer">
                <p>Nom Prénom<br>06/03/2023</p></a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Annonce 2<br>
                <img src="https://bergamotte.imgix.net/x16a26t2je71gho946sn7hws92m0?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=528%3A660" class="img-li-offer">
                <p>Nom Prénom<br>06/03/2023</p></a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Annonce 3<br>
                <img src="https://i-dja.unimedias.fr/sites/art-de-vivre/files/styles/large/public/Import/IvanSpasic%20-%20iStockphoto-dja_yucca_elephantipes.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=1239&w=900" class="img-li-offer">
                <p>Nom Prénom<br>06/03/2023</p></a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Annonce 4<br>
                <img src="https://www.lafontainefleurie.fr/Files/126399/Img/09/Zamioculcas-2-zoom.jpg" class="img-li-offer">
                <p>Nom Prénom<br>06/03/2023</p></a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Annonce 5<br>
                <img src="https://resize.elle.fr/original/var/plain_site/storage/images/deco/exterieur/jardin/plantes-d-interieur-que-faire-en-ete/97042533-1-fre-FR/Plantes-d-interieur-que-faire-en-ete.jpg" class="img-li-offer">
                <p>Nom Prénom<br>06/03/2023</p></a>
            </div>
        </li>
    </ul>
</div>

<script>
    $('.menu-burger, .menu-items').on('click', function() {
        $('.menu-bg, .menu-items, .menu-burger').toggleClass('fs');
        $('.menu-burger').text() == "☰" ? $('.menu-burger').text('✕') : $('.menu-burger').text('☰');
    });
</script>

    
{% endblock %}